
.page-section {
  padding: 1.2rem 0;

  @mixin atMedium {
    padding: 4.5rem 0;
  }

  &--no-b-padding-until-medium {
    padding-bottom: 0;

    @mixin atMedium {
      padding-bottom: 4.5rem;
    }
  }

  &--blue {
    background-color: $mainBlue;
    color: #FFF;
  }

  &--testimonials {

    background-color: #e0e6ef;

    @mixin atMedium {
      &.lazyloaded {
        /*The path ../../ is later changed for deploying. During build use the usual path.*/
        background: url('../../assets/images/testimonials-bg.jpg') top center no-repeat;
        background-size: cover;
      }
    }

  }
}
